.Container {
  @apply py-10;
  background: #edf2f8;
}

.footer_container {
  @apply grid gap-8 lg:px-0;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: 50em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.Link_parent {
  @apply flex flex-col;

  & > a {
    @apply py-2 text-xl md:text-2xl;
  }
}
